body {
    background-image: url('./img/starfieldblack.jpg');
    background-position: top;
    font-family: jetbrains mono, Arial, Helvetica, sans-serif;
}

.navbar-text {
    font-weight: 800;
    color: gold;
}

a.page-link {
    background-color: black;
}

a.page-item {
    background-color: black;
}
